/* default font sizes */
body{
  font: normal 13px/1.75em Times New Roman, serif;
  color: #A4B3B6;
  /* text-align: justify; */
  background: #fff;
  padding: 0em;
  padding-right:0em;
  padding-left:0em;
  margin: 0em;
  font-size:90%;
}
p{
  color: #A4B3B6;
  font-family: Times New Roman, serif;
  margin: 0em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 120%;
}
h1, h2, h3, h4, h5, h6{
  color: #A4B3B6;
  font-family: "Copperplate",Fantasy; 
  font-weight: normal;
  margin: 0em;
  padding-right:1em;
  padding-left:1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
h5, h6{
  color: #A4B3B6;
  font-family: Garamond, serif;
  font-weight: normal;
  line-height: 1.4;
  margin: 0em;
  padding: 0em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right:1em;
  padding-left:1em;
}
h1{
  font-size: 350%
}
h2{
  font-size: 220%
}
h3{
  font-size: 180%;
}
h4{
  font-size: 150%;
}
h5{
  font-size: 120%;
}
h6{
  font-size: 100%;
}
a{
 color: #FCCD04;
  text-decoration-thickness: 3px;
  text-decoration-line: none;
}
a:hover {
  text-decoration: underline;
}
dl{
  margin: 0em;
  padding: 0em;
  padding-top: 0.5em;
  padding-right:0.5em;
  padding-left:0.5em;
}
dt{
  margin: 0em;
  padding: 0em;
  padding-top: 0.5em;
  padding-bottom: 0em;
  padding-right:0.5em;
  padding-left:0.5em;
}
dd{
  margin: 0em;
  padding: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-right:0.5em;
  padding-left:0.5em;
}
ul{
  list-style:none;
}
li{
  margin-bottom: 1ex;
}
img{
  margin: 0em;
  padding: 0em;
  padding-right:2em;
  padding-left:2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
img.left{
  float: left;
  margin: 0em;
  padding: 0em;
  padding-right:2em;
  padding-left:2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
img.right{
  float: right;
  margin: 0em;
  padding: 0em;
  padding-right:2em;
  padding-left:2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
img.center{
  display:block;
  margin: 0em;
  padding: 0em;
  padding-right:2em;
  padding-left:2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
img.nofloat{
  float: none;
  margin: 0em;
  padding: 0em;
  padding-right:2em;
  padding-left:2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.container{
  max-width: 3600px;
  height: auto;
  padding: 0em;
  margin: 0em;
}
.header{
  text-align: center;
  color: white;
  margin: 0em;
  padding: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: url('./CEERS-NIRCAM.jpeg'); 
  background-size: cover;
}
.menu{
  font-family: "Copperplate",Fantasy;
  text-align: center;
  font-size: 130%;
  background-color: #61982F;
  margin: 0em;
  padding: 0.0em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.text{
  margin: 0em;
  padding: 0em;
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
  overflow: auto;
  width: 100%;
  background-color:#19181A
}
.footer{
  text-align: center;
  color: #888;
  font-size: 80%;
  margin: 0em;
  padding: 0em;
  padding-top: 0.0em;
}
div.footer a{
  color: #88C;
}
.deemph{
  color: #888;
}
div.deemph a{
  color: #88C;
}
